<p>
  DISCLAIMER: <br/>
  The ShelfShare platform is a proof-of-concept and not likely to be maintained over time. <br/>
  Thus, any address information submitted will remain in our database indefinitely unless you delete it. <br/>
  For concerns regarding your privacy, please do not submit any real location information to this website.
</p>
