<header>
  <p>
    <%= book.title %><br/>
    <%= book.author %><br/>
  </p>
</header>
<main>
  <%= render partial: '/partials/book_thumbnail', locals: { book: book } %>
  <p>
    Genre: <%= book.category %><br/>
  </p>
</main>
