<header>
  <p>
    <%= book.title %><br/>
    <%= book.author %><br/>
  </p>
</header>
<main>
  <%= image_tag(book.thumbnail, alt: "#{book.title} cover image") %>
  <p>
    Genre: <%= book.category %><br/>
  </p>
</main>
