<article class="book-card">
  <%= tag.h2 (link_to book.title, book_path(book, friend_id: friend_id )) %><br>
  <%= render partial: '/partials/book_thumbnail', locals: { book: book } %>
  <%= tag.h3 book.author %><br>
  <% if extra %>
    <p class="extra"><%= extra %></p>
  <% end %>
</article>
