<% flash.each do |name, msg| %>
  <% if name == "missing_details" %>
    <% msg.each do |m| %>
      <div class= "<%=name%>-flash">
        <p><%= m %></p>
      </div>
    <% end %>
  <% else %>
    <div class= "<%=name%>-flash">
      <p><%= msg %></p>
    </div>
  <% end %>
<% end %>
