<h1>Books Out On Loan</h1>

<% @loaned_books.each do |loan_book| %>
<div class="borrowed-books" id="borrow-<%= loan_book.id %>">
  <% borrower = loan_book.find_borrower(current_user.id) %>
  <%= render partial: '/partials/book_card', locals: { book: loan_book, friend_id: current_user.id, extra: nil } %>

  <p><%= "Currently lent to #{borrower.full_name}" %></p>
</div>
<% end %>
