<h1>Welcome to ShelfShare!</h1>

<% if current_user %>
  <h3>Welcome, <%= current_user.first_name current_user.last_name %></h3>
<% else  %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>
