<h1>Welcome to ShelfShare!</h1>

<% if current_user %>
  <h3>Welcome <%= "#{current_user.first_name} #{current_user.last_name}!" %></h3>
    <% if current_user.address.nil? %>
      <%= button_to "Add Address", { :action => "new", :controller => "addresses" }, :method => :get %>
    <% end %>
  <%= link_to "Logout", logout_path %>
<% else  %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>
