<h1>Welcome to ShelfShare!</h1>

<% unless current_user %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>

<section class="about">
   
  <h2>
    A space for friends to borrow and lend books. 
  </h2>

  <p>
    We believe that we can get rid of the clutter in people's lives without getting rid of their favorites! 
    ShelfShare was founded by a book enthusiast to optimize the sharing of books among friends. 
  </p>
  
  <ul>
    <li>Pain: Dusty books gather dust! That’s literature going to waste!</li><br/>

    <li>Agitate: You’d love your books to be put to good use!</li><br/>

    <li>Solution: Liberate your stationary books by simply lending them out!</li><br/>
  </ul>
  
  <p>
    ShelfShare is a storage solution and social networking device for avid readers. 
    Allowing users to loan out books they’re done reading, ShelfShare creates an 
    online community of book lovers who want to share their favorite reads, all while 
    giving users more space on their bookshelves! 
  </p>
  
  <p>
    The first platform to securely share physical books, where you can instantly lend 
    and borrow physical books among your friends, family or colleagues. And you don’t 
    have to worry that the books will be overdue due to computer issues or power outages 
    because it is backed by people. Borrowers only need to pay for the shipping both ways 
    if they want to actually hold your books in hand.
  </p>

</section>
