<h1>Welcome to ShelfShare!</h1>

<% unless current_user %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>

<section class="about">
  <p>
    ShelfShare wants to help you save money by allowing you to borrow and
    lend out books you own to your friends. We put those dusty books in
    your collection to use!</p>

    <h3>Here's why:</h3>

  <ul>
    <li>Most of us are guilty of buying that book we "have to have" just to read
       it once and stash it on a shelf somewhere.</li><br/>

    <li>Save money! Shelf share is a free service. Once you find a book you are
      interested in on a friend's shelf, request to borrow the book, pay for
      shipping, and you are ready to go!</li><br/>

    <li>Convenience. ShelfShare is simplistic in design, no walking around the
      library trying to find a book. Simply look through the books that your
      friends own and request a book! Easy! 😄</li><br/>
  </ul>
</section>
