<h1>All Borrowed Books</h1>

<!-- Userbooks where current_user is currently borrowing -->
<!-- Convert userbook to book to show cover -->
<!-- Need book owner info from userbook for return path -->
<!-- userbook.book -->
<!-- borrow_request.user_book.book -->
<section class="borrowed-books">
  <% @borrow_requests.each do |br| %>
    <div id="borrow-<%= br.id %>">
      <% book = br.user_book.book %>
      <%= render partial: '/partials/borrow_book_show', locals: { book: book, librarian: br.user_book.user.first_name } %>
      <%= button_to "Return #{book.title}", "/return/#{br.user_book.user_id}", params:{user_book_id: br.user_book.id, borrow_request_id: br.id}, method: :get %>
    </div>
  <% end %>
</section>
