<h2>All Borrowed Books</h2>

<!-- Userbooks where current_user is currently borrowing -->
<!-- Convert userbook to book to show cover -->
<!-- Need book owner info from userbook for return path -->
<!-- userbook.book -->
<!-- borrow_request.user_book.book -->
<% @borrow_requests.each do |br| %>
<div class="borrowed-books" id="borrow-<%= br.id %>">
  <%= book = br.user_book.book %>
  <%= image_tag(book.thumbnail, alt: "#{book.title} cover image") %>
  <%= button_to "Return", "/return/#{br.user_book.user_id}", method: :get %>
</div>
<% end %>
