<h2>Hope you enjoyed <%= @user_book.book.title %>!</h2>

<p>Please copy the below address. For improved security, you will not be allowed to access this address after leaving this page!</p>

<h4><%= @friend.first_name %> Address:</h4>

<%= render partial: '/partials/address_info', locals: {friend: @friend} %>
