<h2>
  <%= current_user.full_name %>
</h2>
<h4>
  You haven't added an address yet. Please fill out the form below.
</h4>

<%= render partial: 'partials/new_address_form', locals: { address: @address } %>
